@import "../mixins.scss";
.service-banner {
    background: rgba(1,149,248,1);
    background: -moz-linear-gradient(left, rgba(1,149,248,1) 0%, rgba(21,82,187,1) 23%, rgba(42,7,119,1) 37%, rgba(45,2,115,1) 63%, rgba(35,39,165,1) 83%, rgba(25,81,222,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(1,149,248,1)), color-stop(23%, rgba(21,82,187,1)), color-stop(37%, rgba(42,7,119,1)), color-stop(63%, rgba(45,2,115,1)), color-stop(83%, rgba(35,39,165,1)), color-stop(100%, rgba(25,81,222,1)));
    background: -webkit-linear-gradient(left, rgba(1,149,248,1) 0%, rgba(21,82,187,1) 23%, rgba(42,7,119,1) 37%, rgba(45,2,115,1) 63%, rgba(35,39,165,1) 83%, rgba(25,81,222,1) 100%);
    background: -o-linear-gradient(left, rgba(1,149,248,1) 0%, rgba(21,82,187,1) 23%, rgba(42,7,119,1) 37%, rgba(45,2,115,1) 63%, rgba(35,39,165,1) 83%, rgba(25,81,222,1) 100%);
    background: -ms-linear-gradient(left, rgba(1,149,248,1) 0%, rgba(21,82,187,1) 23%, rgba(42,7,119,1) 37%, rgba(45,2,115,1) 63%, rgba(35,39,165,1) 83%, rgba(25,81,222,1) 100%);
    background: linear-gradient(to right, rgba(1,149,248,1) 0%, rgba(21,82,187,1) 23%, rgba(42,7,119,1) 37%, rgba(45,2,115,1) 63%, rgba(35,39,165,1) 83%, rgba(25,81,222,1) 100%);
    padding: 2% 0 2% !important;
    h1 {
        font-size: 34px;
        font-family: "Barlow-Medium";
    }
    h4 {
        width: 500px;
        font-size: 44px;
        font-weight: bolder;
        padding-top: 12% !important;              
    }
    p {
        color: #fff;
        font-size: 20px;
       
        font-family: "Barlow-Medium";
    }
    .service-img{
        img{
            width: 100%;
        }
    }
}
.service-section{
    padding-bottom: 100px;
    .title-sec{
        margin-top: 150px;
        position: relative;
        margin-bottom: 100px;
        p{
            font-size: 16px;
            color: $theme1;
            font-family: "Barlow-Medium";
            text-transform: uppercase;
            margin-bottom: 0;
        }
        h2{
            font-size: 48px;
            color: $theme2;
            position: relative;
            margin-bottom: 70px;
            &:after{
                content: '';
                background:  $theme1;  
                width: 120px;
                height: 4px;
                position: absolute;
                bottom: -40px;left: 0;right: 0;
                margin: auto;
            }
        }
        .para-p{
            font-size: 24px;
            color: #484258;
            font-family: "Barlow-Light";
            line-height: 28px;
            margin: 50px 0;
            text-align: center;
            text-transform: inherit;
        }
       
    }
    .title-sec1{
        h2{
            color: $theme1;
            font-family: "Barlow-SemiBold";
            font-size: 38px;
            span{
                color: $theme2;                
            }
        }
    }
    .works-div{
        border-radius: 10px;
        box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.12);
        .works-img{
            height: 265px;
            overflow: hidden;
            margin-bottom: 0; 
            img{
                width: 100%;
            }
        }
        .works-info{
            padding: 12px;
            p{
                font-size: 12px;
                color: $theme2;
                font-family: "Barlow-Light";
                margin-bottom: 5px;
            }
            h4{
                font-size: 16px;
                color: $theme2;
                font-family: "Barlow-SemiBold";
                margin-bottom: 0px;
            }
        }      
    }
    .view-project{
        display: inline-block;
        color: #2eccfc;
        font-family: "Barlow-Medium";
        font-size: 16px;
        border: 2px solid #2eccfc;
        padding: 5px 40px;
        border-radius: 25px;
        margin-top: 40px;
        margin-bottom: 50px;
        cursor: pointer;
     }
}