@import "../mixins.scss";

.header {
  box-shadow: 1px 1px 8px 2px rgba(0, 0, 0, 0.18);
  // position: fixed;
  // z-index: 1;
  background: #fff;
  ul {
    list-style: none;
    float: left;    
    margin: 0;
    padding: 0;
    text-align: right;
    li {
      display: inline-block;
      padding-left: 18px;
      a{
        img{
          width: 14px;
        }
      }
    }
  }
.navbar{
  padding: 0;
  .header-link{
    padding:25px 20px;
    a {
      // display: inline-block;
      padding: 0 15px;
      color: $theme2;
      font-size: 15px;
      text-decoration: none;
      position: relative;
      text-transform: uppercase;
      font-family: "Barlow-Medium";
      &.active{
        color:  $theme1;       
        font-family: "Barlow-SemiBold";
        &:after{
          content: '';
          background:  $theme1;  
          width: 100%;
          height: 3px;
          position: absolute;
          bottom: -25px;left: 0;right: 0;
        }
      }
    }
    .nav-link {      
       padding: 0 15px;
       color:  $theme2; 
    }
    .nav-link:hover {
      color:  $theme1; 
   }
   .dropdown-menu{
    padding: 0 0;
    a{
      padding:5px 10px;
      display: block;
      font-family: "Barlow-Medium";
      color: $theme2;
      &:after{
        content: '';
        display: none;
      }
    }
   }
  }
}
}

